.carousel__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 2vw;
  z-index: 0;
}

.carousel__container > p {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.8vw 0;
}

.carousel-container {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.carousel-img {
  width: 100%;
  height: 100%;
  background-color: #141414;
}

.carousel-item {
  width: 100%;
  min-height: 11vw;
  display: flex;
  align-items: center;
  margin: 0 0.2rem;
  transform-origin: scale(1) translateX(0);
  flex: 0 0 19.7%;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.carousel-item:hover {
  cursor: pointer;
  transform: scale(1.8) !important;
  z-index: 0;
}

.carousel-img:hover {
  box-sizing: border-box;
  border: 0.1vw #141414 solid;
}

.react-multi-carousel-list {
  overflow: unset !important;
}

.carousel__container:hover {
  z-index: 2;
}

.carousel-container:hover .carousel-item {
  transform: translateX(-40%);
}

.carousel-item:hover ~ .carousel-item {
  transform: translateX(40%);
}

.carousel-button-group {
  visibility: hidden;
  width: 100%;
  justify-content: space-between;
  display: flex;
  background: none;
  pointer-events: none;
  height: 100%;
  align-items: center;
  transition: all 0.8s ease-in-out;
}

.carousel-container:hover .carousel-button-group {
  visibility: visible;
}

.carousel-button-group > button {
  pointer-events: all;
  cursor: pointer;
  outline: none;
  position: relative;
  width: 5vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  background: rgb(20, 20, 20);
  background: radial-gradient(
    circle,
    rgba(20, 20, 20, 0.539720856741573) 0%,
    rgba(20, 20, 20, 0.2503950140449438) 25%,
    rgba(20, 20, 20, 0) 100%
  );
  border: none;
  align-items: center;
}

.svg-icon-arrow-left,
.svg-icon-arrow-rigth {
  position: relative;
}

.svg-icon-arrow-left,
.svg-icon-arrow-rigth {
  width: 3rem;
  height: 3rem;
}

.carousel-button-group > button:hover .svg-icon-arrow-rigth,
.carousel-button-group > button:hover .svg-icon-arrow-left {
  transform: scale(1.4);
}

.svg-icon-arrow-left path,
.svg-icon-arrow-left polygon,
.svg-icon-arrow-left rect,
.svg-icon-arrow-rigth path,
.svg-icon-arrow-rigth polygon,
.svg-icon-arrow-rigth rect {
  fill: #fff;
}

.svg-icon-arrow-left circle,
.svg-icon-arrow-rigth circle {
  stroke: #fff;
  stroke-width: 2;
}

/* ITEM INFORMATIONS */
.carousel-item:hover .item-informations {
  visibility: visible;
  opacity: 1;
}

.item-informations {
  visibility: hidden;
   opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease-in-out;
}

.item-play,
.item-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1vw;
  box-sizing: border-box;
}

.item-actions {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.item-card-interaction:hover .big {
  color: #e50914;
}

.item-title {
  font-weight: bold;
  font-size: 0.8vw;
}

.item-more-infos-icon {
  width: 100%;
  height: 1.4vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.item-more-infos-icon > svg {
  display: flex;
  width: 6vw;
  justify-content: center;
  align-items: center;
  height: 1.4vw;
  transform: scale(0.6);
}

.item-card-interaction {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.item-more-infos-icon:hover > svg > path {
  fill: #e50914;
}

@media (max-width: 950px) {
  .carousel-item {
    min-height: 16vw;
  }
}

@media (max-width: 600px) {
  .carousel-item {
    max-width: 10rem;
    min-height: 18vw;
  }
}

@media (max-width: 400px) {
  .carousel-item {
    min-height: 24vw;
  }
}
