.carousel-item:hover .item-informations {
  visibility: visible;
  opacity: 1;
}

.carousel-img {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel-img:hover {
  outline: #141414 .1vw solid;
}

.caret-item-open {
  position: absolute;
  font-size: 2.5vw;
  color: #fff;
  bottom: -2vw;
}

.item-layer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.item-informations {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease-in-out;
}

.item-card-interaction {
  min-height: 85%;
}

.item-more-infos-icon {
  padding: .2vw;
  min-height: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
}

#chevron-down {
  width: 2vw;
}

#play-with-ring {
  width: 1.5vw;
  padding-bottom: .2vw;
}

.item-card-interaction:hover polygon {
  fill: #e50914;
}

.item-play,
.item-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1vw;
  box-sizing: border-box;
}

.item-actions {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.item-title {
  font-weight: bold;
  font-size: 0.8vw;
}

.item-card-interaction {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.item-more-infos-icon:hover > svg > path {
  fill: #e50914;
}

.chevron-down-active {
  display: flex;
  padding: .5vw;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.21);
}

#chevron-down {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease;
}

.chevron-down-active > #chevron-down {
  width: 3vw;
}

.carousel-img:hover #chevron-down {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 600px) {
  .item-play,
  .item-actions {
    padding: 1w;
  }
}
