.icon-card {
  background-color: rgba(0, 0, 0, 0.78);
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: .3vw;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.icon-card.small:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.small:hover i {
  transform: scale(.9);
}

.icon-card.small {
  height: 1.2vw;
  width: 1.2vw;
  transform: scale(.9);
  margin-top: .3vw;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.icon-card.big {
  margin-bottom: 0.2vw;
  border: 0.1vw solid white;
  height: 2.2vw;
  width: 2.2vw;
  transition: all 0.5s ease-out;
}

.big > i {
  font-size: 0.9vw;
  margin-left: 0.2vw;
  color: white;
}

.small > i {
  color: white;
  font-size: 0.6vw;
}
