.infos_container {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: normal;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h3 {
    margin: .8rem;
    font-size: 1.6rem;
    font-weight: 500;
}

@media (max-width: 380px) {
   

    .infos_container h1 {
        font-size: 1.5rem;
    }

    .infos_container h3 {
        font-size: 1rem;
        margin: .2;
    }
}


