.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.4rem #333333 solid;
  font-weight: normal;
  color: #a6a6a6;
  overflow: hidden;
}

.footer_inside_container {
  width: 85%;
  padding: 4.3rem 2.8rem;
}

.footer_links {
  margin: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.footer_links > div > p {
  width: fit-content;
}

.footer_links > div > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer_links div {
  font-size: 0.8rem;
  padding: 0.5rem 0.2rem;
  flex: 1 0 21%;
}

p {
  font-size: 0.8rem;
}

h4 {
  padding: 0.5rem 0;
}

.footer_language_selector {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  border: 0.1rem #333333 solid;
}

.footer_language_selector select {
  font-size: 1rem;
  border-style: none;
  background-color: #000;
  color: #a6a6a6;
  padding: 1rem;
}

option {
  padding: 1rem;
  border-style: none;
}

@media (max-width: 550px) {
  .footer_inside_container {
    width: 85%;
    padding: 2rem 2.8rem;
    padding-bottom: 2.8rem;
  }

  .footer_links div {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 45%;
  }

  option {
    font-size: 0.8rem;
  }

  p {
    font-size: 1rem;
  }
}
