.login_form {
  width: 100%;
}

h1 {
  margin-bottom: 1rem;
}

.login_submit {
  margin: 1rem 0;
}

.login_submit button {
  background-color: #e50914;
  color: #fff;
  width: 100%;
  padding: 1.2rem;
  font-size: 1rem;
  border-style: none;
  border-radius: 0.2rem;
  font-weight: bold;
}

.login_submit button:hover {
  cursor: pointer;
}

.login_check_help {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.login_check_help > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* CHECKBOX */
.login_check_help div {
  display: flex;
}

.login_checkbox_container {
  display: block;
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.login_checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 0.2rem;
  background-color: #333;
}

/* When the checkbox is checked, add a background color */
/* .login_checkbox_container input:checked ~ .checkmark {
    background-color: #333;
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.login_checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.login_checkbox_container .checkmark:after {
  left: 0.25rem;
  top: 0;
  width: 0.29rem;
  height: 0.6rem;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width:380px) {
    .login_submit {
        margin: 1.5rem 0;
    }
}