.browse_container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  box-sizing: border-box;
}

.browse_cover_container {
  width: 100%;
  height: auto;
}

.browse_cover_container > img {
  width: 100%;
  height: auto;
  position: absolute;
}

.lists-browse-container {
  top: 100vw;
  position: relative;
}