.header-rigth-items,
.header-avatar,
.header-rigth,
.header-left,
.header-container,
.header-content {
  display: flex;
  align-items: center;
}

.header-container {
  z-index: 10;
  min-height: 5vw;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: max-content;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
}

.header-left {
  width: 40%;
}

.header-rigth {
  min-width: 20%;
  justify-content: flex-end;
}

.header-rigth-items > * {
  padding: 0;
  margin: 0.5rem 0;
  margin-left: 1.5rem;
  cursor: pointer;
}

.header-content {
  padding-left: 3.6%;
  padding-right: 3.6%;
  box-sizing: border-box;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header-left > img {
  width: 7vw;
  height: auto;
}

.menu-items {
  padding-left: 2vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  border-style: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.menu-item:hover {
  opacity: 0.8;
}

.header-rigth-items > span,
.menu-item {
  font-size: 0.9rem;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}

.header-avatar > img {
  width: 1.8em;
  height: auto;
  padding-right: 0.3rem;
}

@media (max-width: 1100px) {
  .header-left {
    width: 50%;
  }

  .header-container {
    max-height: 3rem;
  }

  .menu-items {
    min-width: 60%;
  }

  .header-rigth-items > span {
    display: none;
    visibility: hidden;
  }

  .header-rigth-items > svg {
    height: 0.9em;
    width: auto;
  }
  .header-rigth {
    justify-content: flex-end;
  }

  .header-avatar > img {
    width: 1.4rem;
  }
}

@media (max-width: 840px) {
  .menu-items {
    display: none;
  }
}

@media (max-width: 500px) {
  .header-container {
    min-height: 9vw;
}

  .header-content {
    padding: 3vw;
  }
}
