.search-icon {
  outline: none;
  background: none;
  padding: 0;
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  color: white;
  cursor: pointer;
}

.close-icon {
  outline: none;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.search_browser_container {
  display: flex;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0.3rem 0 0.3rem 0.3rem;
  border: 0.1rem solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  margin: .5rem 0;
  width: 1.1em;
}

.search_browser_container input {
  background: transparent;
  border: none;
  outline: none;
  margin-left: 2rem;
  opacity: 0.8;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1100px) {
  .search_browser_container {
    margin: .2rem 0;
  }
}

@media (max-width:500px) {
  .search_browser_container {
    display: none;
  }
}

