@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');

:root{
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #141414;
}

body{
  margin: 0;
  padding: 0;
}

